
@import 'modules/variables';
@import 'modules/main';
@import 'modules/form';
@import 'modules/results';


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    max-width: 768px;
}

.body{
    font-family: $font-sans;
    font-size: 1rem;
}

.hidden{
    display: none;
}

.showing{
    display: flex;
}