.background {
    background-color: lightcyan;
    
}

.d-flex-vertical{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.d-flex{
    display: flex;
}

.span-style{
    color: gray;
}

.input-field{
    align-self: center;
    border-radius: 5px;
    margin: 8px 20px 20px;
    padding: 6px;
    width:80%;
    min-width: 200px;
    max-width: 300px;
}

.m-20 {
    margin: 20px;
}

.btn{
    width: 50%;
    min-width: 120px;
    max-width: 300px;
    height: 50px;
    display: flex;
    padding: 5px 25px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.send{
    background-color:greenyellow;
    border-radius: 10px;
    border-color: greenyellow;
    &:hover{
        cursor: pointer;
        font: bold;
    }
}

.reset{
    background-color:red;
    border-radius: 10px;
    border-color: red;
    color: lightgray;
    &:hover{
        cursor: pointer;
        font: bold;
    }
}

.clean{
    background-color:lightgray;
    border-radius: 10px;
    border-color: lightgray;
    &:hover{
        cursor: pointer;
        font: bold;
    }
}

