.logo-container{
    height: 80px;
    display: flex;
    justify-content: center;
    margin: -10px;
}
.img-logo{
    object-fit: contain;
}

.title{
    text-align: center;
    bottom: 2px solid gray;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 10px 0px 15px;
    font-family: $font-mono;
}

.message{
    display: flex;
    align-self: center;
    background-color: lightgreen;
    padding: 15px;
    margin: 0px 0px 15px;
    border-radius: 15px;
    font-size: 1.5rem;
    color: black;
}
