.results{
    margin: 25px;
    
    .result-container{
        margin: 5px 0px 10px;
        .text-result{
            font-size: 1rem;
            color: gray;
        }
        
        .numeric-result{
            color: black;
            font-size: 1.5rem;
            margin-left: 25px;
            letter-spacing: 2px;
        }

    }
    
}