.button-container{
    justify-content: center;
    align-items: center;

}

.results{
    margin: 25px auto;
    justify-content: center;
    align-items: center;

    .p-Name{
        margin: 0px 0px 10px 0px;
        letter-spacing: 2px;
    }
    
    .result-container{
        margin: 5px 0px 15px 0px;
        text-align: center;
        
        .text-result{
            font-size: 1rem;
            color: gray;
            text-align: start;
        }
        .text-result-magnitude{
            color: gray;
            font-size: 0.8rem;
            font-weight: bold;
            margin: 2px 15px;
        }
        
        .numeric-result{
            color: black;
            font-size: 1.5rem;
            margin-left: 25px;
            letter-spacing: 2.8px;
        }

    }
    
}